<h1>Start races</h1>

<ul class="list">
	<% @races.each do |race| %>
		<a href="/races/<%= race.id %>/show-rzs"><li><%= race.name %></li></a>

	<% end %>
</ul>

<a href="/chronometer/homepage" class="backBtn">BACK</a>
