<h1><%= @race.name %> live results</h1>

<ul class="list">
	<% @race.rzs.each do |rz| %>

			<li><a href="/results/live/rz/<%= rz.id %>" ><%= rz.name %></a></li>

	<% end %>
</ul>


<a href="/results/list-races" class="backBtn">BACK</a>
