
<div class="content hello">
	<%= link_to "Enter", :action => "homepage" %>
	<a href="/chronometer/homepage"><h1 class="hello">Chronometer</h1></a>	
	<div id="login">
		<br />
		<br />
		<br />
		<br />
		<%= link_to "Enter", :action => "homepage" %>
	<div>
</div>

