<div class="content">
	<ul class="menu">
		<a href="/races/start-races"><li>Start</li></a>
		<a href ="/races/finish-races"><li>Finish</li></a>
		<a href ="/results/list-races"><li>Results</li></a>
		<a href ="/results/live-races"><li>Live results</li></a>
		<a href ="/races"><li>Manage races</li></a>

	</ul>
</div>

