<div class="content">
	<ul class="menu">
		<a href="/races/start-races"><li>Starter</li></a>
		<a href ="/races/start-races"><li>Finisher</li></a>
		<a href ="/chronometer/homepage"><li>Results</li></a>
		<a href ="/races"><li>Manage races</li></a>
	</ul>
</div>

