body {
	background-color: #9aa1a5;
	color: #eee;	
	font-size: 30px;
}

li {
	list-style: none;
}

#content {
	padding: 0px 0px 0px 10px
}

.content {
	width: 100%;
	text-align: center;
}

#login {
	display: none;
	padding: 15px 15px 15px 15px;
}

#topBar {
	width: 100%;
}

#topBar .title {
	color: #eee;
	text-align: center;
	width: 100%;
	font-weight: bold;
	font-size: 50px;
}

#topBar .menuBtn {
	width: 60px;
	height: 60px;
	top: 0px;
	left: 0px;
	background-color: black;
	position: absolute;
	
	cursor: pointer;
}

#topBar .menu {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 250px;
	background-color: black; 
	display: none;
}

#topBar .menu ul {
	padding: 0px 10px 0px 10px;
}

#topBar .menu ul li {
	margin-bottom: 16px;
	border: solid 1px #eee;
	padding: 10px 15px 10px 15px;
}

#topBar .menu ul a, #topBar .menu ul a:visited {
	text-decoration: none;	
	color: #eee;
}

.content ul.menu {
	padding-left: 0px;
}

.content ul.menu li {
	padding: 25px 20px 25px 20px;
	background-color: #eff0f2;
	color: #31343a;
	margin: 0px 0px 14px 0px;
	
}

a {
	text-decoration: none;
	color: #eee;
}

.field {
	margin-bottom: 5px;
}

.field label {
	width: 50px;
	display: block;
	float: left;
}

ul.list {
	padding: 0px;
}

ul.list li {
	padding: 20px 25px 20px 25px;
	border: solid 1px #eff0f2;
	margin-bottom: 14px;
	
}

ul.list a {
	color: #eee;
	text-decoration: none;
}

.start-form {
	display: none;
	border-top: 0px;
}

.start-form .timer {
	
}

.start-form .startBtn {
	display: block;
	height: 80px;
	padding: 20px 20px 20px 20px;
	background-color: #10990d;
	width: 285px;
	text-align: center;
	margin: 7px 0px 7px 0px;
	font-size: 20px;
}

a.backBtn {
	display: block;
	padding: 6px 15px 6px 15px;
	border: solid 1px #eff0f2;
	width: 100px;
	font-size: 80%;
	
}

.content.hello {
	margin-top: 270px;
}
.content.hello h1.hello {
	font-size: 50px;
	cursor: pointer;
}

#login a {
	font-size: 30px;
}

table.result-table {
	width: 100%;
}

table.result-table td:first-of-type {
	width: 70%px;
}