html,body {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }
 
/* Set full height: http://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height */
html {
  /* body will set it's height based on its parent, which is html */
  height: 100%;
 
  /* set full width as well */
  width: 100%;
}
body {
  /* min-height is needed for pages that might scroll, ie they may contain _more_ than 100% of viewport height */
  min-height: 100%;
 
  /* needed to prevent unwanted scroll-bars */
  margin: 0;
  padding: 0;
  
  /* This is just so we can tell the body block apart from the app container */
  background-color: gray;
}

body {

	color: #eee;	

	font-family: "Arial Black", Gadget, sans-serif;
}

#app-container {
 
  /* Set block height using the viewport height unit, and force it to be full height, even if the containing content does not require it */
  min-height: 100vh;
 
  /* center this block for larger viewports */
  margin: 0 auto;
 
  /*Use max-width for better browser handling of small windows
  http://www.w3schools.com/css/css_max-width.asp
  */
  max-width: 31.25em;
 
  /* Use min-width to prevent your design from being scrunched up in tiny viewports (and instead be replaced with horizontal scroll bars) 
  */
  min-width: 18.75em;
   
  /* Add padding around your content - this is just an arbitrary number */
  padding: 1em;
 
 
  /* Add sufficient top padding so the fixed header doesn't cover up main content by defailt.  This value should be a calculated value (eg using calc(), sass, etc):
  padding for this container + height of app header; Here, that is 1em + 4em */ 
  padding-top: 3em;
  /* just used to so we can tell the content block apart from the body block */
  
}

#app-header {
  /* fix the header to the top of the viewport. */
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index:10;
   background-color: gray;
  /* this should match the min-width in app-container. Recommend setting using a common variable (eg with Sass) */
  min-width: 300px;
 
  /* just arbitrary values */
  height: 4em;
  padding: 0em;
 
  /* internal layout, centered vertically - flex layout is great for this */
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
 
}

#app-header .header {
  /* fix the header to the top of the viewport. */
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  z-index:10;
   background-color: gray;
  /* this should match the min-width in app-container. Recommend setting using a common variable (eg with Sass) */
  min-width: 300px;
 
  /* just arbitrary values */
  height: 4em;
  padding: 1em;
 
  /* internal layout, centered vertically - flex layout is great for this */
  display: flex;
  flex-flow: row nowrap;
  align-items:center;
}
 
#app-header h1 {
  /* set the h1 block as the main flex block - it will fill all unused space in the block */
  flex: 1;
 
  /* center content inside the block */
  text-align: center;
}

li {
	list-style: none;
}

#content {
	padding: 0px 0px 0px 10px
}

.content {
	width: 100%;
	text-align: center;
}

#login {
	display: none;
	padding: 15px 15px 15px 15px;
}


#left-menu {
	display: none;
	width: 100%;
	background-color: gray;
	margin-top: 20em;
	padding: 1em;
	
}

#left-menu ul {
	padding: 0px 0px 0px 0px;

}

#left-menu ul li {
	margin-bottom: 16px;
	border: solid 1px #eee;
	padding: 10px 15px 10px 15px;
	text-align: center;

}

.content ul.menu {
	padding-left: 0px;
}

.content ul.menu li {
	padding: 25px 20px 25px 20px;
	background-color: #eff0f2;
	color: #31343a;
	margin: 0px 0px 14px 0px;
	
}

a {
	text-decoration: none;
	color: #eee;
	cursor: pointer;
}

.field {
	margin-bottom: 5px;
	height: 40px;
}

.field label {
	width: 90px;
	display: block;
	float: left;
}

.field input {
	height: 25px;
	width: 250px;
}

.field select {
	height: 30px;

}

ul.list {
	padding: 0px;
}

ul.list li {
	padding: 20px 25px 20px 25px;
	border: solid 1px #eff0f2;
	margin-bottom: 14px;
	
}

ul.list a {
	color: #eee;
	text-decoration: none;
}

.start-form {
	display: none;
	border-top: 0px;
}

.start-form .timer {
	
}

.start-form .startBtn {
	display: block;
	height: 3.3em;
	padding: 20px 20px 20px 20px;
	background-color: #eff0f2;
	color: #31343a;
	width: 285px;
	text-align: center;
	margin: 7px 0px 7px 0px;
	font-size: 20px;
}

a.backBtn {
	display: block;
	padding: 6px 15px 6px 15px;
	border: solid 1px #eff0f2;
	width: 100px;
	font-size: 80%;
	margin-top: 1em;
	
}

a.btn {
	display: block;
	padding: 6px 15px 6px 15px;
	border: solid 1px #eff0f2;
	font-size: 80%;
	
}

a.submit {
	width: 120px;
}

.content.hello {
	margin-top: 270px;
}
.content.hello h1.hello {
	font-size: 80px;
	cursor: pointer;
}

#login {

}

#login a {
	font-size: 70px;
}

table.result-table {
	width: 100%;
}

table.result-table td:first-of-type {
	width: 70%px;
}

.actions {
	margin-top: 20px;
	margin-bottom: 20px;
}

#main-content h1 {
	font-size: 1.2em;
}

#main-content h1.finish {
	font-size: 1.2em;
	border-bottom: 1px solid
}

i.material-icons.record {
	font-size: 10em;
}

.record-bar {
	text-align: center;
	position: fixed;
	width: 100%;
	padding-bottom: 2em;
	left: 0px;
	background-color: gray;
	bottom: 0em;
	
}

.time-bar {
	text-align: center;
	font-size: 1.5em;
	padding-top: 0.5em;
}

#finishTime {
	height: 1.7em;
}

#time-stop1 {
	display: none;
}

#finish-list {
	padding: 0px;
}

#finish-list li {
	border: solid 1px;
	padding: 1em;
	margin-bottom: 1em;
	padding: 1em;
	
}

#finish-list select {
	font-size: 2em;
	color: #eee;
}

#f-list {
	height: 100px;
}

i.material-icons.finishBtn {
	font-size: 3em;
	position: relative;
	right: -0.6em;
	bottom: -10px;
} 
i.material-icons.clear {
	font-size: 3em;
	position: relative;
	right: -1em;
	bottom: -10px;
}	

a.link {
    display: block;
    float: left;
    border: 1px solid;
    padding: 0.2em 0.5em 0.2em 0.5em;
    margin-right: 0.5em;
}